# pycache file
*.pyc

# experiment folder
src/experiments/

# models cache folder
src/models/cache/

# test file
temp.py

# datasets
*.parquet
*.csv
*.xlsx

# vscode file
.vscode/

# huggingface model state
src/models/huggingface_hub/